---
layout: page
title: Notes
permalink: /notes/
---
<div class="notes">
  {% for note in site.notes %}
    <h2>
      <a href="{{ note.url }}">
        {{ note.title }} - {{ note.date | date_to_string }}
      </a>
    </h2>
    <p>{{ note.content | markdownify }}</p>
  {% endfor %}
</div>

LIKES
<a class="u-like-of" href="https://twitter.com/sonniesedge/status/1059093513235763202"></a>

<div class="pagination" role="navigation">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.github.url }}">Older</a> {% else %}
  <span class="pagination-item older">Older</span> {% endif %} {% if paginator.previous_page %}
  <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.github.url }}">Newer</a> {% else %}
  <span class="pagination-item newer">Newer</span> {% endif %}
</div>

