<script id="webmention-hosted">
$(function(){
const url = document.querySelector("link[rel~=canonical]").href;
$.getJSON("https://webmention.io/api/mentions?jsonp=?", {
target: url
}, function(data){
  console.log(data);
  data.links.forEach(addMention);
});
});

function addMention({data}) {
  const author = document.createElement("div");
  const mention = document.createElement("div");
  author.innerHTML =
    `<p><a href=${data.author.url}><img src=${data.author.photo}/>
    </a></p>`;
  mention.innerHTML = data.content
  console.log(author, mention);
  const parentNode = document.querySelector(".content");
  console.log(parentNode);
  parentNode.appendChild(author);
  parentNode.appendChild(mention);
}
</script>
