<script id="webmention-hosted">
$(function(){
const url = document.querySelector("link[rel~=canonical]");
$.getJSON("https://webmention.io/api/mentions?jsonp=?", {
target: `${encodeURIComponent(window.location)}`
}, function(data){
  console.log(data);
  data.links.forEach(addMention);
});
});

function addMention({data}) {
  const author = document.createElement("div");
  const mention = document.createElement("div");
  author.innerHTML =
    `<p><a href=${data.author.url}><img src=${data.author.photo}/>
      ${data.author.name}
    </a> posted:</p>`;
  mention.innerHTML = data.content
  console.log(author, mention);
  const parentNode = document.querySelector(".content");
  console.log(parentNode);
  parentNode.appendChild(author);
  parentNode.appendChild(mention);
}

const data = {
  "links": [
    {
      "source": "https://brid-gy.appspot.com/post/twitter/ioctaptceb/1059060107361902594",
      "verified": true,
      "verified_date": "2018-11-04T12:33:30+00:00",
      "id": 561043,
      "private": false,
      "data": {
        "author": {
          "name": "Charlie Owen",
          "url": "https://www.sonniesedge.co.uk",
          "photo": "https://webmention.io/avatar/pbs.twimg.com/0e79baaa0d41320ae6006afa0c1308161de2395e4ba48be56c073cab1af39e48.jpg"
        },
        "url": "https://twitter.com/sonniesedge/status/1059060107361902594",
        "name": null,
        "content": "<a href=\"https://twitter.com/ioctaptceb\">@ioctaptceb</a> I'm a just mentioning you and your post on Twitter. :D<br />\n<a href=\"http://hag.codes/notes/2018-11-04-test.html\">hag.codes/notes/2018-11-…</a>",
        "published": "2018-11-04T12:29:40+00:00",
        "published_ts": 1541334580
      },
      "activity": {
        "type": "link",
        "sentence": "Charlie Owen posted '@ioctaptceb I'm a just mentioning you and your post on Twitter. :D  hag.codes/no...' linking to http://hag.codes/notes/2018-11-04-test.html",
        "sentence_html": "<a href=\"https://www.sonniesedge.co.uk\">Charlie Owen</a> posted '@ioctaptceb I'm a just mentioning you and your post on Twitter. :D  hag.codes/no...' linking to <a href=\"http://hag.codes/notes/2018-11-04-test.html\">http://hag.codes/notes/2018-11-04-test.html</a>"
      },
      "target": "http://hag.codes/notes/2018-11-04-test.html"
    }
  ]
}
</script>
