---
layout: default
---
<article class="post">

  <header class="entry-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
<footer class="entry-footer">

    <div class="h-card p-author">
          <a href="{{ site.github.url }}" class="entry-author-link" rel="author">
                {% if site.author_img %}
                <div class="auth-img">
                  <img src="{{ site.author_img }}" alt="{{ site.author }}" class="u-photo">
                </div>
                {% endif %}
                {% include author.html %}
          </a>
    </div>
</footer>
